/*
0-600px : Phone
600-900px : Tablet portrait
900px-1200px : Tablet landscape
[1200px-1800px] : Normal style
1800px + : Big Desktop

$breakpoint argument Choice
- phone
- tab-port
- tab-land
-big-desktop

ORDER : Base + Typography > general layout + grid >page layout >component
1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      overflow-x: hidden;
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      overflow-x: hidden;
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background: #352c55; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

img {
  width: 100%; }

.top-bottom {
  position: fixed;
  right: 5%;
  bottom: 15%;
  font-size: 3rem;
  background-color: black;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; }

.top-bottom.top-bottom__show {
  display: flex; }

.top-bottom__link {
  color: #d4d4d4; }

.heading__standerd {
  font-size: 3.3rem;
  color: white; }

.heading__small {
  font-size: 1.6rem;
  color: white; }

.heading__mid {
  font-size: 2.2rem;
  color: white; }

.para-1 {
  color: white;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-transform: capitalize; }

.para-2 {
  color: white;
  font-size: 1.7rem;
  line-height: 3rem;
  text-transform: capitalize; }

.u-mb-sm {
  margin-bottom: 1.5rem; }

.u-mb-mid {
  margin-bottom: 2rem; }

.u-mb-big {
  margin-bottom: 3.5rem; }

.u-mb-ebig {
  margin-bottom: 8rem; }

.u-mt-sm {
  margin-top: 1.5rem; }

.u-mt-mid {
  margin-top: 2.5rem; }

.u-mt-big {
  margin-top: 3.5rem; }

.u-mt-ebig {
  margin-top: 8.5rem; }

.u-text-center {
  text-align: center; }

.pg {
  padding: 10rem 5rem; }

.navigation__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out; }
  .navigation__overlay__show {
    transform: translate(0); }

.navigation__burger {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 40;
  cursor: pointer; }

.navigation__burger > div {
  width: 30px;
  height: 4px;
  background-color: white;
  margin-bottom: 3px;
  transition: all 0.3s; }

.navigation .nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center; }
  .navigation .nav__item {
    text-align: center; }
    .navigation .nav__item:not(:last-child) {
      margin-bottom: 3rem; }
  .navigation .nav__link {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.4s; }
    .navigation .nav__link:hover {
      color: #fab636;
      padding-left: 2rem; }
  .navigation .nav__toggle .navigation__burger-1 {
    transform: rotate(-45deg) translate(-5px, 6px); }
  .navigation .nav__toggle .navigation__burger-2 {
    opacity: 0; }
  .navigation .nav__toggle .navigation__burger-3 {
    transform: rotate(45deg) translate(-5px, -6px); }

.row-1 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  gap: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .row-1 {
      grid-template-columns: 1fr; } }

.row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .row-2 {
      grid-template-columns: 1fr 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .row-2 {
      grid-template-columns: 1fr; } }

.row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  gap: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .row-3 {
      grid-template-columns: 1fr; } }

.row-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  gap: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .row-4 {
      grid-template-columns: 1fr; } }

.row-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  gap: 1.9rem; }
  @media only screen and (max-width: 56.25em) {
    .row-5 {
      grid-template-columns: 1fr; } }

.row-6 {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  @media only screen and (max-width: 37.5em) {
    .row-6 {
      flex-direction: columncd cd; } }

.row-7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  gap: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .row-7 {
      grid-template-columns: 1fr; } }

.row-8 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 80%;
  margin: 0 auto;
  gap: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .row-8 {
      grid-template-columns: 1fr; } }

.footer__copy {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.3); }

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh; }
  .profile__icon {
    font-size: 2rem;
    color: white; }
    .profile__icon-1, .profile__icon-2, .profile__icon-3, .profile__icon-4 {
      cursor: pointer;
      margin-right: 2rem;
      transition: all 0.5s; }
      .profile__icon-1:hover, .profile__icon-2:hover, .profile__icon-3:hover, .profile__icon-4:hover {
        color: #fab636; }
    .profile__icon-5 {
      cursor: pointer;
      transition: all 0.5s; }
      .profile__icon-5:hover {
        color: #fab636; }

.btn,
.btn:visited,
.btn:active {
  display: inline-block;
  padding: 1.5rem 2rem;
  background-color: #f83f5e;
  color: white;
  font-size: 1.5rem;
  border-radius: 100px;
  font-weight: bold;
  font-weight: bold;
  border: none; }

.btn {
  transition: all 0.4s; }
  .btn:hover {
    transform: scale(1.1); }
  .btn__primary {
    width: 10%;
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .btn__primary {
        width: 20%; } }
    @media only screen and (max-width: 37.5em) {
      .btn__primary {
        width: 30%; } }

.about {
  padding: 10rem 5rem;
  width: 80%;
  margin: auto; }
  .about__image {
    text-align: center; }
    .about__image img {
      width: 50%; }
  .about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 56.25em) {
      .about__content {
        grid-template-columns: 1fr; } }

.progress__el {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.4rem; }

.progress__box {
  overflow: hidden;
  width: 100%;
  height: 8px;
  background-color: white;
  border-radius: 100px; }
  .progress__box-1 {
    width: 90%;
    height: 100%;
    background-color: orange;
    border-radius: 100px; }
  .progress__box-2 {
    width: 80%;
    height: 100%;
    background-color: #ff002b;
    border-radius: 100px; }
  .progress__box-3 {
    width: 70%;
    height: 100%;
    background-color: #0099ff;
    border-radius: 100px; }
  .progress__box-4 {
    width: 75%;
    height: 100%;
    background-color: #ff00b3;
    border-radius: 100px; }

.project {
  display: flex;
  align-items: center;
  margin-top: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .project {
      justify-content: center; } }
  .project__icon {
    font-size: 3.5rem;
    margin-right: 3rem;
    color: white; }

.services {
  margin-top: 10rem;
  text-align: center;
  padding: 3rem;
  border-radius: 30px;
  transition: all 0.5s ease; }
  .services:hover {
    transform: scale(1.1) translateY(-10px); }
  .services--1 {
    background-color: #6c6ce5;
    box-shadow: 0px 5px 20px 0px rgba(108, 108, 229, 0.5); }
  .services--2 {
    background-color: #f9d74c;
    box-shadow: 0px 5px 20px 0px rgba(249, 215, 76, 0.5); }
  .services--3 {
    background-color: #f97b8b;
    box-shadow: 0px 5px 20px 0px rgba(249, 123, 139, 0.5); }
  .services img {
    width: 50%; }

.work {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 9px;
  margin-top: 10rem; }
  .work__box {
    padding-left: 3rem;
    border-left: 2px solid #dd5a5a; }
  .work__time {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem; }
  .work__icon-box {
    font-size: 2rem;
    color: #dd5a5a;
    margin-bottom: 1rem;
    margin-left: -5px; }

.recent-work {
  border-radius: 20px;
  overflow: hidden;
  position: relative; }

.price {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 8rem;
  border-radius: 10px; }
  .price__icon {
    width: 20%; }
  .price__icon-box {
    margin-bottom: 2rem;
    margin-top: 2rem; }
  .price__text {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    width: 70%;
    margin: auto;
    margin-bottom: 2rem; }
  .price__support {
    font-size: 1.7rem;
    color: white;
    font-weight: bold; }
  .price__num {
    font-size: 3rem;
    color: orange; }
  .price--big {
    transform: scale(1.1);
    position: relative; }
  .price__best {
    position: absolute;
    background-color: #1534e6;
    color: white;
    font-size: 1.4rem;
    padding: 0.5rem;
    transform: rotate(270deg);
    top: 35px; }

.client {
  width: 70vw;
  margin: 0 auto;
  margin-top: 10rem; }
  .client__image img {
    width: 10%; }
    @media only screen and (max-width: 56.25em) {
      .client__image img {
        width: 20%; } }
    @media only screen and (max-width: 37.5em) {
      .client__image img {
        width: 30%; } }
  .client__position {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.4); }
  .client__review {
    background-color: rgba(0, 0, 0, 0.2);
    width: 70%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: #eee;
    padding: 3rem;
    border-radius: 10px;
    font-weight: bold;
    line-height: 2rem; }

.post {
  margin-top: 8rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s; }
  .post__text {
    padding: 1rem 2rem; }
  .post__note {
    position: absolute;
    background-color: #ff004c;
    color: white;
    padding: 0.7rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    top: 0;
    left: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
  .post__time {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.39);
    margin-bottom: 0.7rem; }
  .post:hover {
    transform: translateY(-10px) scale(1.1); }

.form input,
.form textarea {
  padding: 2rem 3rem;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  border: none;
  outline: none; }
  .form input::placeholder,
  .form textarea::placeholder {
    font-size: 1.7rem;
    text-transform: capitalize; }

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s; }

.top-bottom {
  position: fixed;
  right: 5%;
  bottom: 15%;
  font-size: 3rem;
  background-color: black;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; }

.top-bottom.top-bottom__show {
  display: flex; }

.top-bottom__link {
  color: #d4d4d4; }
